<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <p>Menu</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <a mat-list-item [routerLink]="'/app-solicitations'"> Solicitações </a>
    <a mat-list-item [routerLink]="'/app-payments'"> Pagamentos </a>
  </mat-drawer>

  <div>
    <mat-toolbar>
      <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Validador de CPFs e CNPJs</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
